* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

html {
  background-image: url("https://images.pexels.com/photos/1532771/pexels-photo-1532771.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
}
  
body {
  margin: auto;
  text-align: center;
}

button:focus {
  outline: 0;
}
  
.quote__box {
  margin-top: 10vh;
  height: 80vh;
  width: 30vw;
  margin-left: 5vw;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.quote__quotations__left {
  text-align: left;
  margin-left: 20%;
  font-size: 32px;
  color: rgb(32, 102, 160);
}

.quote__quotations__right {
  text-align: right;
  margin-right: 20%;
  font-size: 32px;
  color: rgb(32, 102, 160);
}
 
.new__quote__button {
  font-size: 20px; 
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 0.5rem;
  width: 150px;
  background-color: rgb(32, 102, 160);
  color: white;
}

.new__quote__button:hover {
  background-color: rgb(101, 173, 231);
}

.current__quote {
  font-size: 1rem;
  width: 80%;
  margin: auto;
  text-align: center;
  line-height: 2rem;
}

.current__author {
  font-size: 15px;
  padding-top: 3em;
  border-top: 2px solid rgb(32, 102, 160);
  width: 40%;
  margin: auto;
  font-style: italic;
}

@media only screen and (max-width: 1200px){
  .quote__box {
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    background-color: rgba(0, 0, 0, 0.2);
  }

}

@media only screen and (max-width: 600px){
  .quote__box {
    margin-top: 0vh;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

}